.header {
  background-color: #111940;
  height: 100vh;
  width: 13vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.header__top {
  color: #f1f4fc;
  border-bottom: 1px solid white;
  width: 100%;
  padding-left: 15%;
}

.header__top--details {
  display: flex;
  align-items: center;
}

.MuiSvgIcon-root {
  color: red;
  margin-right: 15px;
}

.header__body {
  font-size: 1.1rem;

  margin-top: 10%;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.header--link {
  color: #f1f4fc;
  text-decoration: none;
  margin-bottom: 10%;
  display: flex;
  align-items: center;
  &:hover {
    color: darken($off-white, 15%);
    transform: scale(1.03);
  }
}

.dashboard {
  display: flex;
}
