.header {
  background-color: transparent;
  height: 100vh;
  width: 350px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  position: relative;
}

.header__top {
  color: #f1f4fc;
  border-bottom: 1px solid rgb(114, 114, 114);
  width: 100%;
}

.header__top--details {
  display: flex;
  align-items: center;
}

.MuiSvgIcon-root {
  padding-right: 15px;
  padding-left: 8%;
}

.header__body {
  font-size: 1.1rem;
  margin-top: 20px;
  width: 100%;
}

.header--link {
  color: #f1f4fc;
  text-decoration: none;
  padding: 5% 0;
  display: flex;
  align-items: center;
  &:hover {
    border-left: 12px solid #52bb94;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.139);
    color: #52bb94;
    transform: scale(1.03);
    transition: ease-in-out 150ms;
  }
}

.header__body--top {
}

.header__body--bottom {
  border-top: 1px solid rgb(114, 114, 114);
  padding-top: 20px;
  position: absolute;
  width: 100%;
  bottom: 30px;
}
